---
replicaCount: 3

image:
  repository: quay.io/cirrocloud/example-go-web-service
  tag: v1.1.1
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

hostname: example.com

env:
  app_name: Go web service
